<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
	<extensions>
		<!--enable NLog.Web for ASP.NET Core-->
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<variable name="filePath" value="C:/ProgramData/Nutmeg/Logs" />
	<targets>
		<target name="file"
			xsi:type="AsyncWrapper"
			overflowAction="Discard"
			queueLimit="100000"
			batchSize="1000"
			timeToSleepBetweenBatches="100">
			<target xsi:type="File"
				fileName="${filePath}/NutmegWeb.log"
				archiveFileName="${filePath}/Archive/NutmegWeb.{#}.log"
				archiveNumbering="Date"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="14"
				concurrentWrites="true"
				keepFileOpen="true"
				layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}${onexception:${exception:format=type,message,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
				/>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>